"acme-enter-email": "{{acmetool_email}}"
"acme-agreement:{{acmetool_agreement_url}}": true
"acmetool-quickstart-choose-server": "{{acmetool_server}}"
"acmetool-quickstart-choose-method": redirector
"acmetool-quickstart-complete": true
"acmetool-quickstart-install-cronjob": true
"acmetool-quickstart-install-haproxy-script": true
"acmetool-quickstart-install-redirector-systemd": true
"acmetool-quickstart-key-type": "{{acmetool_key_type}}"
"acmetool-quickstart-rsa-key-size": 4096
"acmetool-quickstart-ecdsa-curve": nistp256
